<html>
  <head>
    <title></title>
    <link ref="stylesheet" href="creative-3.css" />
  </head>
  <body>
    
    <!-- FORM -->
    <div class="page-layout" ng-app="">
      <input type="text" placeholder="Classes" ng-model="formInput" />
      <form class="{{formInput}}">
        <legend>Personal information:</legend>
        First name:<br>
        <input type="text" name="firstname" placeholder="John"><br>
        Last name:<br>
        <input type="text" name="lastname" placeholder="Doe"><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
    
    <!-- REORDER HTML -->
    <div class="page-layout">
          <div class="page-layout" ng-app="">
              <input type="text" placeholder="Your Bootstrap class here..." ng-model="elementLayout">
              <div class="{{elementLayout}}">
                <p>This is a paragraph</p>
              </div>
              <div class="{{elementLayout}}">
                <h3>This is a heading</h3>
              </div>
              <div class="{{elementLayout}}">
                <label for="sample-field">Single Line Text</label>
                <input id="sample-field" type="text" value="I am sample text">
              </div>
              <div class="{{elementLayout}}">
                <img src="https://vignette.wikia.nocookie.net/avatar/images/f/f0/Iroh%27s_lotus_tile.png/revision/latest/scale-to-width-down/200?cb=20140112225732" height=150 width=200>
              </div>
          </div>
    </div>
    
    <!-- TABLE -->
    <div class="page-layout" ng-app="">
      <table>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th> 
          <th>Age</th>
        </tr>
        <tr>
          <td>Jill</td>
          <td>Smith</td> 
          <td>50</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td> 
          <td>94</td>
        </tr>
      </table>
    </div>
    
    <!-- NAV -->
    <div class="page-layout">
    </div>
    
  </body>
</html>
