body {
  margin: 0;
}

.page-layout {
  display: inline-block;
  width: 50%;
  height: 480px;
  padding: 20px;
  border: 1px solid;
  margin:0px;
}

.right {
  float: right;
}

.bootstrapInfo {
  width: 50%;
  margin: auto;
}
