    h1 {
      padding:50px;
    }
    input#searchStack, input#cityField {
      border-style: solid;
    }
    hr {
      border-width: 2px;
      border-style: solid;
      border-color: cyan;
    }
    div#searchResults div:hover {
      background-color: #00e2ff;
      padding: 3px;
      font-size: larger;
    }
    input#weatherButton:hover, input#searchButton:hover {
      background-color: cyan;
    }
    input:active, input:focus {
      background-color: cyan;
    }
    input {
      border-radius: 5px;
      border-width: 2px;
      border-style:double;
      border: #00e2ff;
      padding: 5px;
    }
    h2 {
      padding:30px;
    }
    body {
      margin:auto;
      width:85%;
      font-family:"Arial",sans-serif;
      border-width: 2px;
      border: #00e2ff;
      border-style: double;
      padding: 20px;
    }
    div#searchResults {
      margin: auto;
      width: 90%;
    }
    textarea#displayCity {
      border-width: 0;
    }
