body {
  margin: 0;
  background-color: #D5D5D5;
}

header {
  background-color: #96858F;
}

.page-layout {
  display: inline-block;
  width: 50%;
  height: 480px;
  padding: 20px;
  border: 1px solid;
  margin:0px;
  background-color: #9099A2;
}

.right {
  float: right;
}

.bootstrapInfo {
  width: 50%;
  margin: auto;
  background-color: #6D7993;
}
