<html>
  <head>
    <title>Learn Bootstrap Like Iroh!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="creative-3.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body ng-app="">
    
    <header class="jumbotron">
      <h1>Learn Bootstrap</h1>
    </header>
    
    <!-- FORM -->
    <div class="page-layout">
      <input class="form-control" type="text" placeholder="Bootstrap Class" ng-init="formInput='form-control'" ng-model="formInput" size=60/>
      <form>
        <legend>Personal information:</legend>
          <label for="text1">First name:</label>
        <input type="text" name="firstname" placeholder="John" class="{{formInput}}"><br>
          <label for="text2">Last name:</label>
        <input id="text1" type="text" name="lastname" placeholder="Doe" class="{{formInput}}"><br><br>
        <input id="text2" type="submit" value="Submit">
      </form>
    </div>
    
    <!-- REORDER HTML -->
    <div class="page-layout right">
        <input class="form-control" type="text" placeholder="Your Bootstrap paragraph class here..." ng-model="elementLayout" size=60 />
        <input class="form-control" type="text" placeholder="Your Bootstrap heading class here..." ng-model="elementLayout2" size=60 />
        <input class="form-control" type="text" placeholder="Your Bootstrap input class here..." ng-model="elementLayout3" size=60 />
        <input class="form-control" type="text" placeholder="Your Bootstrap img class here..." ng-model="imgClass" size=60 />
        <div>
          <p class="{{elementLayout}}">This is a paragraph</p>
          <h3 class="{{elementLayout2}}">This is a heading</h3>
          <label for="sample-field">Single Line Text</label>
          <input class="{{elementLayout3}}" id="sample-field" type="text" value="I am sample text">
          <img class="{{imgClass}}" src="https://vignette.wikia.nocookie.net/avatar/images/f/f0/Iroh%27s_lotus_tile.png/revision/latest/scale-to-width-down/200?cb=20140112225732" height=150 width=200>
        </div>
    </div>
    
    <!-- BOOTSTRAP CLASSES -->
    <div class="bootstrapInfo">
      <table class="table">
        <th>
          <tc>All</tc>
          <tc>Forms</tc>
          <tc>Paragraph, Heading, Input</tc>
          <tc>Image</tc>
          <tc>Table</tc>
          <tc>Nav</tc>
        </th>
        <tr>
          <td>hidden invisible text-hide lead mark thumbnail well small text-center text-left text-capitalize text-lowercase text-muted text-primary text-success text-danger text-info text-uppercase</td>
          <td>form-control form-group input-lg input-sm</td>
          <td>jumbotron pull-left pull-right </td>
          <td>img-circle img-rounded img-thumbnail pull-left pull-right</td>
          <td>table table-bordered table-condensed</td>
          <td>label label-success label-info label-danger label-warning navbar-fixed-bottom navbar-fixed-top</td>
          <!-- Insert columns here (5 columns) -->
        </tr>
      </table>
    </div>
    
    <!-- TABLE -->
    <div class="page-layout">
      <input class="form-control" type="text" placeholder="Your Bootstrap class here..." ng-init="tableInput='table'" ng-model="tableInput" size=60 />
      <table class="{{tableInput}}">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th> 
          <th>Age</th>
        </tr>
        <tr>
          <td>Jill</td>
          <td>Smith</td> 
          <td>50</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td> 
          <td>94</td>
        </tr>
      </table>
    </div>
    
    <!-- NAV -->
    <div class="page-layout right">
      <input class="form-control" type="text" placeholder="Your Bootstrap class here..." ng-init="navInput='navbar navbar-default'" ng-model="navInput" size=60 />
      <nav class="{{navInput}}">
       <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#">Brand</a>
         </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
             <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
             <li><a href="#">Link</a></li>
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
               <ul class="dropdown-menu">
                 <li><a href="#">Action</a></li>
                 <li><a href="#">Another action</a></li>
                 <li><a href="#">Something else here</a></li>
                 <li role="separator" class="divider"></li>
                 <li><a href="#">Separated link</a></li>
                 <li role="separator" class="divider"></li>
                 <li><a href="#">One more separated link</a></li>
               </ul>
             </li>
           </ul>
           <form class="navbar-form navbar-left">
             <div class="form-group">
               <input type="text" class="form-control" placeholder="Search">
             </div>
             <button type="submit" class="btn btn-default">Submit</button>
           </form>       
         </div><!-- /.navbar-collapse -->
       </div><!-- /.container-fluid -->
     </nav>
    </div>
    
  </body>
</html>
